.component{
    margin: auto;
    height: 30%;
    width: 50%;
}
.button{
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
}
.display{
    width: 50%;
    margin: auto;
    height: 40%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1em;
}
